<link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
<link rel="stylesheet" href="<%= url("css/core/app.css")%>">

<center>
  <h2><%= @@g.response(@@g.evalueAnswer(@quest,@resp))%></h2>
<a  href="questions" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
</center>
