
<%if(@@questions.evalueAnswer(@quest,@resp)=="correct") %>
  <h2>!!!<%= @@questions.evalueAnswer(@quest,@resp)%>!!!</h2>
<%else%>
  <h2><%= @@questions.evalueAnswer(@quest,@resp)%> :(</h2>
<%end%>
<a  href="questions"><button class="button button-positive">Go Back</button></a>
