<link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
<link rel="stylesheet" href="<%= url("css/core/app.css")%>">

<center>
  <h2><%= @@g.reply("Deportes",@quest,@resp)%></h2>
  <%if (@@g.initialCategoryQuestions<=0) %>
  <a  href="categories" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
  <%else%>
  <a  href="sports" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
  <%end%>
</center>
