<link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
<link rel="stylesheet" href="<%= url("css/core/app.css")%>">

<center>
  <h2><%= @@g.reply(@cat,@quest,@resp)%></h2>
  <%if (@@g.initialCategoryQuestions<=0) %>
  <a  href="<%=@@g.randomViews(@random) %>" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
  <%else%>
    <%if (@cat=="Deportes") %>
      <a  href="sports" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
    <%end%>
    <%if (@cat=="Entretenimiento") %>
      <a  href="entertainment" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
    <%end%>
    <%if (@cat=="Ciencia") %>
      <a  href="science" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
    <%end%>
    <%if (@cat=="Historia") %>
      <a  href="history" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
    <%end%>
    <%if (@cat=="Arte") %>
      <a  href="art" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
    <%end%>
    <%if (@cat=="Geografía") %>
      <a  href="geography" class="ui labeled icon button"><i class="left chevron icon"></i>Volver</a>
    <%end%>
  <%end%>
</center>
