<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
    <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
    <meta charset="utf-8">
    <title>categories</title>
  </head>
  <body class="ui container">

    <div class="ui message">
    <center class="ui container">
    <h1>Instrucciones</h1>

  <div class="ui divider"></div>

  </center>
  <ul>
  <li>Elige la categoria que mas domines para comenzar</li>
  <li>Inicialmente tendras dos preguntas de la categoria que elijiste para ganar ventaja luego pasaran a ser aleatorias</li>
  <li>No olvides que en cuanto tus vidas lleguen a 0 el juego terminara asi que responde con sabiduria </li>
  </ul>

</div>

  <a class="fluid ui yellow button"  href= "/">Volver</a>

  </body>
</html>
