<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
  <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
  <title>Preguntas</title>
</head>

<body>

  <center>
    <h1 class="ui header"> PREGUNTAS </h1>
  </center>

</body>
</html>
