<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
  <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
  <title>Jugando</title>
</head>

<body>
<%if @@g.lives==0%>
<script>
  alert("Sorry You Loose :(!!");
</script>
<%end%>

<%if (@@g.lives!=0)%>
  <center>
    <div class="ui message">
      <h1 class="ui header"><%=@name%></h1>
    </div>
 
<%end%>
      <a class="fluid ui red button"  href= "/">Terminar Juego</a>

  </center>
</body>
</html>
