<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
  <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
  <title>Preguntados</title>
</head>

<body>

  <center>
    <h1 class="ui header"> PREGUNTADOS </h1>
    <form  action="/categories" method="get">
      <div class="ui input focus">
        <input type="text" placeholder="Nickname" name="nickname">
      </div>
      <input type="submit"  value="¡Empezar!">
    </form>

  </center>

</body>
</html>
