<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
  <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
  <title>Preguntados</title>
</head>

<body>

  <center>
    <h1 class="ui header"> PREGUNTADOS </h1>
    <input type="input" name="name" value="" placeholder="Ingresa tu nickname"></input>
    <a class="ui red button" href="/categories">¡Empezar!</a>
  </center>

</body>
</html>
