<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
  <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
  <title>Preguntados</title>
</head>

<body>

  <center class="ui container">
    <img class="ui medium circular image" src="http://www.manualpc.com/wp-content/uploads/2014/03/preguntados-logo.jpg">
    <h1 class="ui header"> PREGUNTADOS </h1>
    <form  action="/categories" method="get">
      <div class="ui input focus">
        <input type="text" placeholder="Nickname" name="nickname">
      </div>
      <input type="submit" class="ui teal button" value="¡Empezar!">
    </form>

    <br>
    <div class="ui large buttons">
      <a class="ui orange button" href="/Top">Top Puntajes</a>
      <div class="or"></div>
      <a class="ui green button" href="/Instrucciones">Instrucciones</a>
    </div>

  </center>

</body>
</html>
